.turtle {
  position: relative;
}
.turtle .tile {
  position: absolute;
}
.layer-0 {
  z-index: 10;
}
.layer-1 {
  z-index: 20;
}
.layer-2 {
  z-index: 30;
}
.layer-3 {
  z-index: 40
}
.layer-4 {
z-index: 50
}
.row-1 {
  top: 40px;
}
.row-2 {
  top: 80px;
}
.row-3 {
  top: 120px;
}
.row-4 { /* single left */
  top: 140px;
}
.row-5 {
  top: 160px;
}
.row-6 {
  top: 140px;
}
.row-7 {
  top: 200px;
}
.row-8 {
  top: 240px;
}
.row-9 {
  top: 280px;
}
.row-10 { /* second layer*/
  top: 40px;
}
.row-11 {
  top: 80px;
}
.row-12 {
  top: 120px;
}
.row-13 {
  top: 160px;
}
.row-14 {
  top: 200px;
}
.row-15 {
  top: 240px;
}
.row-16 { /* third layer */
  top: 80px;
}
.row-17 {
  top: 120px;
}
.row-18 {
  top: 160px;
}
.row-19 {
  top: 200px;
}
.row-20 { /* fourth layer */
  top: 120px;
}
.row-21 {
  top: 160px;
}
.row-22 {
  top: 140px;
}

.column-0 {
  left: 0;
}
.column-1 {
  left: 40px;
}
.column-2 {
  left: 80px;
}
.column-3 {
  left: 120px;
}
.column-4 {
  left: 160px;
}
.column-5 {
  left: 200px;
}
.column-6 {
  left: 240px;
}
.column-7 {
  left: 280px;
}
.column-8 {
  left: 320px;
}
.column-9 {
  left: 360px;
}
.column-10 {
  left: 400px;
}
.column-11 {
  left: 440px;
}
.column-12 {
  left: 480px;
}
.column-13 {
  left: 520px;
}
.column-14 { 
  left: 560px;
}
.column-15 { /* top piece */
  left: 260px;
}
