.turtle {
  position: relative;
}
.turtle .tile {
  position: absolute;
}
.layer-0 {
  z-index: 10;
}
.layer-1 {
  z-index: 20;
}
.layer-2 {
  z-index: 30;
}
.layer-3 {
  z-index: 40
}
.layer-4 {
z-index: 50
}

.row-1 {
  top: 45px;
}
.row-2 {
  top: 90px;
  }
.row-3 {
  top: 135px;
}
.row-4 { /* single left */
  top: 157px;
}
.row-5 {
  top: 180px;
}
.row-6 { /* duo right */
  top: 157px;
  }
.row-7 {
  top: 225px;
}
.row-8 {
  top: 270px;
}
.row-9 {
  top: 315px;
}
.row-10 { /* second layer*/
  top: 45px;
  }
.row-11 {
  top: 90px;
}
.row-12 {
  top: 135px;
}
.row-13 {
  top: 180px;
}
.row-14 {
  top: 225px;
}
.row-15 {
  top: 270px;
}
.row-16 { /* third layer */
  top: 90px;
}
.row-17 {
  top: 135px;
}
.row-18 {
  top: 180px;
}
.row-19 {
  top: 225px;
}
.row-20 { /* fourth layer */
  top: 135px;
}
.row-21 {
  top: 180px;
}
.row-22 {
  top: 157px;
}

.column-0 {
  left: 0;
  }
.column-1 {
  left: 34px;
}
.column-2 {
  left: 68px;
}
.column-3 {
  left: 102px;
}
.column-4 {
  left: 136px;
}
.column-5 {
  left: 170px;
}
.column-6 {
  left: 204px;
}
.column-7 {
  left: 238px;
}
.column-8 {
  left: 272px;
}
.column-9 {
  left: 306px;
}
.column-10 {
  left: 340px;
}
.column-11 {
  left: 374px;
}
.column-12 {
  left: 408px;
}
.column-13 {
  left: 442px;
}
.column-14 { 
  left: 476px;
}
.column-15 { /* top piece */
  left: 224px;
}
