@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: "black";
}

body {
  background-color: "black";
  font-family: "Rubik", sans-serif;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  box-shadow: 0.5rem 0.5rem 2rem black;
}

.tile-text {
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 3ex;
}

.tile.layer-0 div {
  background-color: #999;
}

.tile.layer-1 div {
  background-color: #aaa;
}

.tile.layer-2 div {
  background-color: #bbb;
}

.tile.layer-3 div {
  background-color: #ccc;
}

.tile.layer-4 div {
  background-color: #ddd;
}

.tile.active div {
  border-top: 4px rgb(0, 100, 0) solid; 
  border-left: 4px green solid;
  border-right: 4px limegreen solid;
  border-bottom: 4px rgb(75, 240, 75) solid;
  background-color: #555;
}

.tile div p {
  text-shadow: 1px 1px 1px black, -1px -1px 1px white;
}

svg .inner-rectangle {
  fill: #ccc;
  stroke-width: 10;
  stroke: #ccc;
}

.rect {
  width: 30px;
  height: 40px;
  position: relative;
}

.rect svg {
  height: 100%;
  width: 100%;
}

.rect-text .inner-token {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 300px;
  stroke: #444;
  stroke-width: 10;
}

.relative {
  top: 7vh;
}

.active .inner-token {
  stroke: #000;
}

.tile.layer-0 {
}

.tile.layer-1 {
  margin: -4px 0px 0px -4px;
}

.tile.layer-2 {
  margin: -8px 0px 0px -8px;
}

.tile.layer-3 {
  margin: -12px 0px 0px -12px;
}

.tile.layer-4 {
  margin: -14px 0px 0px -14px;
}

.tile.layer-6 {
}

.turtle .tile {
  position: absolute;
}
.layer-0 {
  z-index: 10;
}
.layer-1 {
  z-index: 20;
}
.layer-2 {
  z-index: 30;
}
.layer-3 {
  z-index: 30;
}
.layer-4 {
  z-index: 50;
}

.row-0 {
  top: 0;
}

.column-0 {
  left: 0;
}
.column-1 {
  left: 3.26em;
}
.column-2 {
  left: 6.52em;
}
.column-3 {
  left: 9.77em;
}
.column-4 {
  left: 13.03em;
}
.column-5 {
  left: 16.28em;
}
.column-6 {
  left: 19.5em;
}
.column-7 {
  left: 22.78em;
}
.column-8 {
  left: 26.02em;
}
.column-9 {
  left: 29.28em;
}
.column-10 {
  left: 32.53em;
}
.column-11 {
  left: 35.78em;
}
.column-12 {
  left: 39.03em;
}
.column-13 {
  left: 42.3em;
}
.column-14 {
  left: 45.57em;
}
.column-15 {
  /* top piece */
  left: 21.1em;
}
