@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: "black";
}

body {
  background-color: "black";
  font-family: "Rubik", sans-serif;
}

.tile.active div {
  border: 1px solid limegreen;
  border-top: 2px limegreen solid;
  border-left: 2px limegreen solid;
  border-right: 2px green solid;
  border-bottom: 2px green solid;
  background-color: #ddd;
}

.tile div p {
  text-shadow: 1px 1px 1px black, -1px -1px 1px white;
}

svg .inner-rectangle {
  fill: #ccc;
  stroke-width: 10;
  stroke: #ccc;
}

.rect {
  width: 30px;
  height: 40px;
  position: relative;
}

.rect svg {
  height: 100%;
  width: 100%;
}

.rect-text .inner-token {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 300px;
  stroke: #444;
  stroke-width: 10;
}

.active .inner-token {
  stroke: #black;
}

.tile.layer-0 {
}

.tile.layer-1 {
  margin: -4px 0px 0px -4px;
}

.tile.layer-2 {
  margin: -8px 0px 0px -8px;
}

.tile.layer-3 {
  margin: -12px 0px 0px -12px;
}

.tile.layer-4 {
  margin: -14px 0px 0px -14px;
}

.tile.layer-6 {
}

.turtle {
  position: relative;
}
.turtle .tile {
  position: absolute;
}
.layer-0 {
  z-index: 10;
}
.layer-1 {
  z-index: 20;
}
.layer-2 {
  z-index: 30;
}
.layer-3 {
  z-index: 40;
}
.layer-4 {
  z-index: 50;
}

.row-1 {
  top: 4.3em;
}
.row-2 {
  top: 8.6em;
}
.row-3 {
  top: 12.9em;
}
.row-4 {
  /* single left */
  top: 15.05em;
}
.row-5 {
  top: 17.2em;
}
.row-6 {
  /* duo right */
  top: 15.05em;
}
.row-7 {
  top: 21.5em;
}
.row-8 {
  top: 25.8em;
}
.row-9 {
  top: 30.1em;
}
.row-10 {
  /* second layer*/
  top: 4.3em;
}
.row-11 {
  top: 8.6em;
}
.row-12 {
  top: 12.9em;
}
.row-13 {
  top: 17.2em;
}
.row-14 {
  top: 21.5em;
}
.row-15 {
  top: 25.8em;
}
.row-16 {
  /* third layer */
  top: 8.6em;
}
.row-17 {
  top: 12.9em;
}
.row-18 {
  top: 17.2em;
}
.row-19 {
  top: 21.5em;
}
.row-20 {
  /* fourth layer */
  top: 12.9em;
}
.row-21 {
  top: 17.2em;
}
.row-22 {
  top: 15.05em;
}
.column-0 {
  left: 0;
}
.column-1 {
  left: 3.26em;
}
.column-2 {
  left: 6.52em;
}
.column-3 {
  left: 9.77em;
}
.column-4 {
  left: 13.03em;
}
.column-5 {
  left: 16.28em;
}
.column-6 {
  left: 19.5em;
}
.column-7 {
  left: 22.78em;
}
.column-8 {
  left: 26.02em;
}
.column-9 {
  left: 29.28em;
}
.column-10 {
  left: 32.53em;
}
.column-11 {
  left: 35.78em;
}
.column-12 {
  left: 39.03em;
}
.column-13 {
  left: 42.3em;
}
.column-14 {
  left: 45.57em;
}
.column-15 {
  /* top piece */
  left: 21.1em;
}
